
body{
  background-color:grey
}
input{
  width: 50%;
  padding: 12px 20px;
  box-sizing: border-box;
  font-size: 20px;
}
button{
  background-color: blue; /* Green */
  border: none;
  color: white;
  margin: 20px;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}
ul{
  color:white;
  font-size: 25px;
}